.header-content {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backtomenu {
  display: flex;
  align-items: center;
  background-color: var(--color2);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  cursor: pointer;
  color: #e8e8e8;

  font-family: var(--title-font);
  font-weight: bold;
  font-size: 16px;
}

.app-name {
  font-size: var(--title-size);
  font-weight: bold;
  color: var(--color2);
  animation: pulse2 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes pulse2 {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
