.questions-wrapper {
  background-image: url(../assets/main-background.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
}

.wrap-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
}

/*.wrap-container * {
  text-transform: lowercase;
}*/

.answer-content {
  width: 70%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}

.question-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: #e8e8e8;
  text-align: center;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 16px;
}

.question-img {
  width: 300px;
  height: 300px;

  border-radius: 100%;
}

.useless-btn {
  background-color: transparent;
  border: none;
}

.nextquestion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: #e8e8e8;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 32px;
  margin: 1rem 2rem;
  float: right;
  animation: shake 3s infinite;
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.eductesvieux {
  color: #e8e8e8;
  font-weight: bold;
  padding: 2rem 0 2rem 0;
  font-style: italic;
  font-size: 24px;
}
