/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

:root {
  /*Police and fonts */
  --title-font: "Atma", "cursive";
  --title-size: 48px;
  --text-font: "Halant", "roboto";
  --text-size: 24px;
  --responsive-text-size: 16px;
  --responsive-title-size: 32px;

  /*Spacing */

  --main-line-lenght: 25ch;
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: 0.1rem;

  /*Graphic Chart*/

  --BackgroundColor: #7ca5b8;
  --color1: #aafac8;
  --color2: #eb5e55;
  --color3: ;
  --border-radius: 11px;
  --box-shadow: 0 2px 7px var(--color1);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  font-weight: 500;
  color: black;
}
p {
  color: black;
  font-family: var(--text-font);
  font-weight: 500;
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: var(--BackgroundColor);
}

/* RESET */

/* RESPONSIVE BREAKPOINT TABLETS */

@media screen and (max-width: 1024px) {
}

/*  RESPONSIVE BREAKPOINT SMARTPHONES */

@media screen and (max-width: 767px) {
}
